html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

#wrapper {
    flex: 1;
}

.box.search-result:hover {
    background-color: hsl(0, 0%, 96%);
}