{% extends "includes/base.twig" %}

{% block content %}
    <h1 class="title is-1">{{ meta.title }}</h1>
    <h2 class="title is-3 has-text-grey-light has-text-weight-light">{{ meta.description }}</h2>
    <div class="content">
        {% include "includes/toc.twig" %}
        {{ content }}
    </div>
    <hr>
{% endblock %}