{% extends "includes/base.twig" %}

{% block search %}

<div id="searchResult" class="content">
    {% set search_results = pages|apply_search %}
    {% if search_results %}
        <h2>Search results for: "{{ search_terms|e('html') }}"</h2>
        <p id="results"></p>
        {% for page in search_results if not page.hidden  %}
            <!-- TO-DO: add hover to the p element and make grey lighter -->
            <div class="box search-result">
                <a href="{{ page.url }}">
                    <div>
                        <h3>{{ page.title }}</h3>
                        {% if page.description %}
                            <p class="description has-text-grey">
                                {{ page.description }}
                            </p>
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <article class="message is-danger">
            <div class="message-body">
                Sorry! No results found for "{{ search_terms|e('html') }}".
            </div>
        </article>
    {% endif %}
</div>

{% if search_results %}
    <div class="container">
        <button id="loadMore" class="button is-primary is-medium is-fullwidth">
            Load More
        </button>
    </div>
{% endif %}

<hr>

<script type="text/javascript" src="{{ theme_url }}/js/search.js"></script>

{% endblock %}