<!DOCTYPE html>

{% include "includes/head.twig" %}

<body>

    {% include "includes/navbar.twig" %}

    <section id="wrapper" class="section">
        <div class="container">
            <main>
                {% include "includes/search-form.twig" %}
                <div class="columns">
                    {% include "includes/menu.twig" %}
                    <div class="column is-9">
                        {% if search_terms %}
                            {% block search %}{% endblock %}
                        {% else %}
                            {% block content %}{% endblock %}
                        {% endif %}
                        <a href="#top" class="is-pulled-right">Back to top</a>
                    </div>
                
                </div>
            </main>
        </div>
    </section>

    {% include "includes/footer.twig" %}

</body>
</html>