<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Bulma Knowledge Base</strong> by <a href="https://segara.io">Segara</a>.
            The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
    </div>
</footer>