<section class="hero has-background-white-ter">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 has-text-centered">{{ meta.title }}</h1>
        </div>
    </div>
</section>