<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}" />
    {% endif %}
    {% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}" />
    {% endif %}

    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}" />
    {% endif %}

    <link rel="stylesheet" href="{{ theme_url }}/bulma/css/bulma.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css/prism.css" type="text/css" />
    
    <script type="text/javascript" src="{{ theme_url }}/js/main.js"></script>
    <script type="text/javascript" src="{{ theme_url }}/js/prism.js"></script>
</head>