<!-- Menu for desktop and tablet -->
<div id="leftMenu" class="column is-3 is-hidden-mobile">
    <aside class="menu" role="navigation" aria-label="Page navigation">
        <h4 class="menu-label">Menu</h4>
        <ul class="menu-list">
            {% for item in nested_pages if not item.hidden %}
                <li>
                    {% if item._childs %}
                        <a href="{{ item.url }}">{{ item.title }}</a>
                        <ul>
                            {% for subitem in item._childs %}
                                <li>
                                    <a href="{{ subitem.url }}">{{ subitem.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <a href="{{ item.url }}">{{ item.title }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </aside>
</div>