
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="container">

        <div class="navbar-brand">
            <!-- Site Logo -->
            <a class="navbar-item" href="#" >
                {% if pages["_meta"].meta.logo %}
                    <img src="{{ pages["_meta"].meta.logo|url }}" alt="site logo">
                {% else %}
                    {{ site_title }}
                {% endif %}
            </a>
            <!-- Hamburger icon for mobile -->
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        
        <!-- Menu for mobile -->
        <div id="navMenu" class="navbar-menu is-boxed is-hidden-tablet is-hidden-desktop is-hidden-widescreen">
                {% for item in nested_pages if not item.hidden %}
                    {% if item._childs %}
                        <a class="navbar-item has-text-weight-bold"href="{{ item.url }}">{{ item.title }}</a>
                        {% for subitem in item._childs %}
                            <a class="navbar-item has-text-weight-light" href="{{ subitem.url }}"> {{ subitem.title }}</a>
                        {% endfor %}
                    {% else %}
                        <a class="navbar-item has-text-weight-bold" href="{{ item.url }}">{{ item.title }}</a>
                    {% endif %}
                {% endfor %}
                </a>
        </div>

    <div>
</nav>
