<form id="search_form" action="{{ "search"|link }}" class="content">
    <div class="field has-addons">
        <div class="control is-expanded">
            <input type="search" name="q" class="input is-large" id="search_input" placeholder="How can we help you?" aria-label="Search for..." value="{{ search_terms|e('html_attr') }}" />
        </div>
        <div class="control">
            <button type="submit" class="button is-large is-primary">Search</button>
        </div>
    </div>
</form>