{% if meta.toc %}
    <h2>Table of Contents</h2>
    <ul>
        {% for sectionKey, section in meta.toc %}
            <li>
                {% if section._title %}
                    <a href="#{{ sectionKey }}">{{ section._title }}</a>
                    <ul>
                        {% for subSectionKey, subSection in section if subSectionKey != "_title" %}
                            <li>
                                <a href="#{{ subSectionKey }}">{{ subSection }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <a href="#{{ sectionKey }}">{{ section }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}